/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}
h1 {
  padding-bottom: 10px;
  margin:0 0 5px;
  font-size: 5em;
  border-bottom: 1px solid #ccc;
  color: rgb(111,127,122);
  font-family: 'Baskerville', serif;
}
h2 {
  font-size: 2em;
  color: rgb(111,127,122);
}
#feature img {
  border: 5px rgb(152,173,166) solid;
  
}
p {
    color: #555;
    font-size: 1em;
    margin: 0 0 20px 0;
}
 #press {
  display: inline-block;
  width:24%;
  border: black solid 1px;
  margin-bottom: 20px;
 }
 img {
   padding: 1px;
   border: 5px #ccc solid;
 }
  footer {
    margin-top: 20px;
    text-align: right;
  }
  }
/* Write all remaining styles here */